/* Reset and General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 1.8;
}

.content h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #333;
}

.content p {
    margin-bottom: 15px;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer .social a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

footer .social a:hover {
    color: #ff6200;
}

.go-back-container {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}

.go-back-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.go-back-btn:hover {
    background-color: #555;
}

.go-back-btn i {
    margin-right: 5px;
}